<h1>Welcome to Rental Pro! Please sign in below!</h1>

<%= form_for @user do |u| %>
    <%= u.label :email %>
    <%= u.text_field :email %>
    <br>
    <%= u.label :password %>
    <%= u.text_field :password %>
    <br>
    <%= u.submit %>
<%end%>
<br>
<br>
<%= link_to "Create Account", new_user_path%>