<h1>Please Add a piece of equipment below!</h1>

<%= form_for @equipment do |u|%>
  <%= u.label :name%>
  <%= u.text_field :name%>
  <br>
  <%= u.label :make %>
  <%= u.text_field :make %>
  <br>
  <%= u.label :rental_company %>
  <%= u.text_field :rental_company%>
  <br>
  <%= u.label :machine_type %>
  <%= u.text_field :machine_type %>
  <br>
  <%= u.label :rental_rate_day%>
  <%= u.text_field :rental_rate_day%>
  <br>
  <%= u.label "Please select the project the equipment is assigned to"%>
  <%= u.collection_select :project_id, company_projects, :id, :name %>
  <br>
  <%= u.hidden_field :company_id, value: current_user.company.id%>

  <br>
  <%= u.submit%>
<%end%>
