
<h1><%=@user.company.name%> </h1>
<br>
<h4><%=@user.name%>! </h4>

<h4><%= link_to "View Equipment Fleet and Status", equipment_index_path %> </h4>
<h4><%= link_to "Add a Piece of Equipment", new_equipment_path %> </h4>
<h4><%= link_to "Edit User Data", edit_user_path %> </h4>


