<h1> Project Show Page </h1>

<%=binding.pry%>
<%=@project.name%>
<br>
<%=@project.client_name%>
<br>
<%=@project.address%>
<br>
<%=@project.project_manager.name%>
<br>
<%=@project.company.name%>

<br>
